<!DOCTYPE html>

<html lang="en">
  <head>
    <title>HS Connect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
  </head>

  <body>
    <!-- form -->
    <form class="container" > 
        <h1 class="col-lg-2 offset-lg-5"> Sign Up</h1>

        <div class='row' meethod='POST'> 
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="First Name" name="first_name">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="Lase Name" name="last_name">
            </div>
            <div class="form-group col-lg-6">
                <input type="email" class="form-control" placeholder="Email Address" name="email_address">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group col-lg-6">
                <select class="form-control" id="exampleFormControlSelect1"  name="education_level">
                    <option>Enter Education Level</option>
                    <option>High School Student</option>
                    <option>Under Graduate Student</option>
                    <option>Graduate Student</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="Your High School" name="your_hs">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="Your College (college students only)" name="your_college">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" class="form-control" placeholder="Your Major (college sutdents only)" name="your_major">
            </div>
        </div>


        <a href='/welcome'><button type="button" class="btn btn-primary col-lg-2 offset-lg-5">Submit</button></a>
      </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
